{% include head.html %}

<div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br/>
        <br/>
        <p class="center">
          <img src="../assets/images/logo-symbol.svg" alt="WeBat" class="center" width="50%">
        </p>
        <br/>
        <br/>
      </div>
    </div>
    <div class="parallax">
      <img src="{{site.parallax_image_one}}" alt="Banner">
    </div>
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="portfolio" class="section scrollspy">

    <h3 style="text-align:center;">{{site.portfolio_heading}}</h3>

    {% include portfolio_{{site.portfolio_type}}.html %}

  </div>


</div>

<div class="container" style="padding:20px;">
  <div id="skills" class="section scrollspy">
    <h3 style="text-align:center;">Tools and Experience</h3>
    {% include skills.html %}
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="contact" class="section scrollspy">
    <h3 style="text-align:center;">Contact</h3>
    {% include contact.html %}
  </div>
</div>

{% include footer.html %}